@import "vendor/navigation";
@import "vendor/tabs";
@import "vendor/transitions";
@tailwind preflight;
@tailwind components;

.category p, .category ul, .product p, .product ul{
	@apply .mb-4;
}
.category li{
	@apply .mb-2;
}

.ais-highlight em{
	@apply text-max-secondary;
}
.VueCarousel-wrapper{
	@apply .bg-white .border .shadow;
}

@responsive {
	.order-0 { order: 0; }
	.order-1 { order: 1; }
	.order-2 { order: 2; }
	.order-3 { order: 3; }
	.order-4 { order: 4; }
	.order-5 { order: 5; }
}

@tailwind utilities;

/* Add utilities here... */
